<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="DB" connectionString="Data Source=SQL5016.SmarterASP.NET;Initial Catalog=DB_A105F9_WEBSITE;User Id=DB_A105F9_WEBSITE_admin;Password=Abz83tYztoP!;" />
  </connectionStrings>
</configuration>